@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F6F5FA;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #D8D4EE; border-radius: 8px; }
::-webkit-scrollbar-track { background: transparent; }
